@{
    ViewData["Title"] = "Sales Assister";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims

<nav class="navbar navbar-default">
    @using (Html.BeginForm("LogOff", "Account"))
    {
        <input type="submit" class="btn btn-default" value="Log out" />
    }
</nav>

<h2 class="salesPeople">Sales Assister Login</h2>
<hr />

@if (User.IsSignedIn())
{
    <p>Hello @User.GetUserName()</p>
}
else
{
    <p>@Html.ActionLink("Log in", "Login")</p>
    <p>@Html.ActionLink("Register", "Register")</p>
}
