@*@{
    ViewData["Title"] = "Sales Assister";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims

@model IEnumerable<SalesAssister.Models.Contact>

<h3>@Html.DisplayFor(x => x.Client.Name)</h3>*@