@{
    ViewData["Title"] = "Sales Assister";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IList<SalesAssister.Models.Client>

<h3 class="salesPeople">@Html.DisplayFor(x => x[0].salesperson.Name)'s Clients</h3>


@foreach (var client in Model)
{
    <p>@Html.DisplayFor(x => client.Name)</p>
    <ul>
        <li>@Html.DisplayFor(x => client.Email)</li>
        <li>@Html.DisplayFor(x => client.Phone)</li>
    </ul>
}