@{
    ViewData["Title"] = "Sales Assister";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="logo">SALES ASSISTER</h1>

<img src="http://cdn.fansided.com/wp-content/blogs.dir/34/files/2015/06/damian-lillard-nba-portland-trail-blazers-phoenix-suns-590x900.jpg" />
<p class="photoCaption">photo credit www.ripcityproject.com</p>