@{
    ViewData["Title"] = "Sales Assister";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims

@model SalesAssister.Models.Client

<h2 class="salesPeople">Notes for @Model.Name</h2>

@if (ViewBag.Contacts != null)
{
    @foreach(var x in ViewBag.Contacts)
    {
        <p>@x.Notes</p>
        <p>@x.Date</p>
    }

}

